*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
ul,
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
        text-transform: uppercase;
        color: #00e0d0;
        @extend %hammernorm;
        font-size: 16px;
        line-height: 18px;
        width: 118px;
        border: 1px solid #00e0d0;
        padding: 12px 0;
        display: inline-block;
}