%playnorm{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

%playbold{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

%playblack{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

%roblight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

%robnorm{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%robbold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

%robblack{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

%hammernorm{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
 @return m#{i}n(#{$numbers});
}

