@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 650px;
    &__btn{
        display: none;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        margin-bottom: 150px;
    }
    &__slider{
        text-align: center;
        color: #fff;
        max-width: 780px;
        margin: 0 auto;
    }
    &__slider-title{
        @extend %playblack;
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 50px;
            height: 1px;
            background-color: #00e0d0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }
    &__slider-text{
        @extend %roblight;
        margin-bottom: 45px;
    }
    &__slider-btn{
        margin-bottom: 50px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .slick-dots li{
      padding: 0 3px;
    }
    .slick-dots button{
        font-size: 0;
        outline: none;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: 2px solid #aba9b0;
        border-radius: 50%;
        cursor: pointer;
    }
    .slick-dots .slick-active button{
        background-color: #00e0d0;
        border: 2px solid #00e0d0;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__lists{
        @extend %robblack;
        text-transform: uppercase;
    }
    display: flex;
    &__lists + .menu__lists{
        padding-left: 20px;
    }
    &__link{
        color: #fff;
        transition: all .3s;
        &:hover{
            color: #00e0d0;
        }
    }
}



.story{
    padding: 70px 0;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__img{
        min-width: 230px;
        height: 235px; 
        object-fit: cover;
        object-position: center;
        margin-bottom: 40px;
    }
    &__info{
        max-width: 550px;
        margin-left: auto;
    }
    &__title{
        @extend %playbold;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    &__text{
        margin-bottom: 30px;
        color:#696771;
    }
}

.video{
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    min-height: 550px;
    margin-bottom: 70px;
    position: relative;
    &__box{
        background-color: rgba(#2c244e, 0.90);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 30px;
    }
}

.products{
    margin-bottom: 100px;
    &__title{
        text-transform: uppercase;
        @extend %playbold;
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 25px;
        text-align: center;
    }

    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   
    &__box{
        max-width: 255px;
        text-align: center;
        border-bottom: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        padding: 40px 30px 40px;
    }
    &__box:nth-child(3){
        border-right: none;
    }
    &__box:nth-child(4){
        border-bottom: none;
    }
    &__box:nth-child(5){
        border-bottom: none;
    }
    &__box-img{
        margin-bottom: 30px;
    }
    &__box:nth-child(6){
        border-bottom: none;
        border-right: none;
    }
    &__box-title{
        color: #413d4b;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    &__box-text{
        @extend %roblight;
        color: #413d4b;
    }
}


.team{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
    color: #fff;
    &__title{
        text-align: center;
        @extend %playbold;
        margin-bottom: 15px;
    }
    &__text{
        @extend %playnorm;
    }
    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__box{
        text-align: center;
        margin: 0 5px 60px;
    }
    &__img{
        width: 220px;
        height: 230px;
        object-fit: cover;
        object-position: center;
    }
    &__box-info{
        border: 1px solid #76758a;
        margin: -7px 0;
        text-transform: uppercase;
        padding: 10px;
    }
    &__box-title{
        margin-bottom: 10px;
        @extend %robblack;
    }
    &__box-text{
        color: #8e8da1;
        @extend %roblight;
    }
    &__footer{
        text-align: center;
        margin-bottom: 20px;
    }
    &__subtext{
        color: #f3f3f3;
        margin-bottom: 25px;
    }
    &__btn{
        width: 140px;
    }
}

.works{
    /* margin: 60px 0; */
    &__lists{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    &__title{
        @extend %playbold;
        color: #413d4b;
        font-size: 22px;
        line-height: 25px;
    }
    &__link{
        color: #413d4b;
        padding-right: 18px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 13px;
            background-image: url(../images/works-arrow.png);
            right: 0;
            top: 1px;
        }
    }
    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    &__box{
        width: 270px;
        height: 200px;
        margin: 10px 10px;
    }
    &__box-img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &__box-btn{
        text-align: center;
        margin-bottom: 70px;
    } 
}

.employees{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 0;
    color: #fff;
    &__slider-top{
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
        position: relative;
       
    }
    &__text{
        padding-top: 70px;
        margin-bottom: 50px;
    }
   
    .icon-quotes-right:before{
        position: absolute;
        font-size: 50px;
        color: #fff;
        transform: rotate(179deg);
        width: 25px;
    }
    &__sub{
        text-align: center;
    }
    &__subtitle{
        @extend %robbold;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &__subtext{
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        @extend %roblight;
        margin-bottom: 40px;
    }
    &__sub-img{
        width: 45px;
        /* width: 100%; */
        height: 45px;
        border-radius: 50%;
    }
    &__slider-sub{
        display: flex;
        justify-content: center;
        align-items: center;
         width: 560px;  
        height: 100px;
        margin:0 auto;
    }
    .slick-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
   .slick-center .employees__sub-img{
        width: 70px;
        height: 70px;
        transform: translateY(-17%)
    } 
    .slick-track {
       padding-top: 15px;
    }
    .employees__arrow{
        position: absolute;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        z-index: 3;
    }
    .employees__arrow-next{
        position: absolute;
        right: 0;
        svg{
            stroke: #fff;
        }
    }
    .employees__arrow-prev{
        left: 0;
        
    }
}

.client{
    margin: 70px 0;
    &__inner{
        display: flex;
    }
    &__form{
        max-width: 460px;
        margin-bottom: 60px;
    }
    &__title{
        margin-bottom: 30px;
        @extend %playbold;
        font-size: 22px;
        line-height: 25px;
    }
    &__input{
        width: 100%;
        padding: 10px 10px 10px 20px;
        margin-bottom: 20px;
        &::placeholder{
            text-transform: uppercase;
        }
    }
    &__area{
        resize: none;
        width: 100%;
        padding: 10px 10px 10px 20px;
        height: 200px;
        margin-bottom: 10px;
        &::placeholder{
            text-transform: uppercase;
        }
    }
    &__firms{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 30px 80px;
        align-items: center;
        margin-left: auto;
        padding: 0 10px;
      
    }
    &__firms-title{
        grid-column: 1/3;
        @extend %playbold;
        font-size: 22px;
        line-height: 25px;
    }
    &__firms-img{
        width: 100%;
        height: inherit;
        height: 50px;
        object-fit: scale-down;
    }
}

.footer{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 90px 60px;
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__info{
        max-width: 280px;
    }
    &__info-img{
        margin-bottom: 10px;
    }
    &__contact{
        max-width: 280px;
    }
    &__contact-title{
        @extend %robbold;
        font-size: 15px;
        line-height: 20px;
        padding-top: 18px;
        margin-bottom: 30px;
    }
    &__contact-text{
        padding-left: 30px;
        position: relative;
        margin-bottom: 20px;
        &::before{
            content: '';
            position: absolute;
            width: 14px;
            height: 19px;
            left: 0;
            top: 1px;
            background-image: url(../images/footer-icons-1.png);
        }
    }
    &__contact-phone{
        padding-left: 30px;
        color: #fff;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            top: 1px;
            background-image: url(../images/footer-icons-2.png);
        }
    }
    &__icons-title{
        @extend %robbold;
        font-size: 15px;
        line-height: 20px;
        padding-top: 18px;
        margin-bottom: 35px;
    }
    &__input{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    &__icons-input{
        background-color: transparent;
        border: 1px solid #9b9dbb;
        padding: 16px;
        width: 210px;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    &__input-link{
        display: inline-flex;
        height: 50px;
    }
    &__input-img{
        margin-left: 10px;
        padding: 10px 20px;
        background-color: rgba(#fff, 0.502);
        height: 50px;
    }
    &__icons-link + .footer__icons-link{
        margin-left: 8px;
    }
    &__down{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__down-list{
        display: flex;
        text-transform: uppercase;
    }
    &__down-lists + .footer__down-lists{
        padding-left: 30px;
    }
    &__down-link{
        color: #fff;
    }
    
}









@import "media";
